body {
	width: 100vw;
	height: 100vh;
	background-image: url("../imgs/intro.jpg");
	background-size: 100vw 100vh;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow: hidden;
}
ul.bullet {
  list-style-type: circle;
}

.heading {
	color: white;
	position: absolute;
	top: 3vh;
	left: 5vw;
}